<div class="priorities-container">
	{{#each-in prioritiesMap as |key value|}}
		<div class="priority-block">
			<h6>Priority: {{key}}</h6>
			<h6>Occurences: {{value}}</h6>
		</div>
	{{/each-in}}
</div>