<form {{action "addToDo" model on="submit"}}>
	<div class="input">
		{{input value=model.message placeholder="enter a note"}}
	</div>
	<div class="button">
		<button type="submit" disabled={{isNotValid}}>Save</button>
	</div>
</form>